---
import "../styles/tailwind.css";
import Layout from "../layouts/Layout.astro";
import GalleryImage from "../components/GalleryImage.astro";
import Spacer from "../components/Spacer.astro";
import "../animations/hide.astro";
import "../animations/popup.astro";
---

<Layout currentPage="home">
  <main class="text-white min-h-screen">
    <section class="container mx-auto px-4 py-8">
      <div class="flex justify-center items-center h-screen flex-col">
        <div class="text-center">
          <h1 class="text-5xl hide-5">Soy Juan José Lopera</h1>
        </div>
        <Spacer size="h-8" />
        <div class="text-center">
          <h3 class="text-2xl hide-5">He visto, He vivido, He existido.</h3>
        </div>
      </div>
        <div class="flex flex-col md:flex-row gap-6">
          <div class="flex flex-col gap-6">
            <GalleryImage image="images/IMG_7892-2.jpg" loading="eager" />
            <GalleryImage image="images/IMG_9261-2.jpg" loading="eager" />
            <GalleryImage image="images/IMG_9856.jpg" loading="eager" />
            <GalleryImage image="images/IMG_7936.jpg" />
            <GalleryImage image="images/IMG_9724.jpg" />
            <GalleryImage image="images/IMG_1030.jpg" />
            <GalleryImage image="images/IMG_8024-Recuperado.jpg" />
            <GalleryImage image="images/IMG_9725.jpg" />
            <GalleryImage image="images/DSC_0521.jpg" />
          </div>
          <div class="flex flex-col gap-6">
            <GalleryImage image="images/IMG_8134-2.jpg" />
            <GalleryImage image="images/IMG_9726.jpg" />
            <GalleryImage image="images/IMG_0595.jpg" />
            <GalleryImage image="images/IMG_9021.jpg" />
            <GalleryImage image="images/IMG_9771.jpg" />
            <GalleryImage image="images/DSC_0049-Recovered-Recovered.jpg" />
            <GalleryImage image="images/IMG_9026.jpg" />
            <GalleryImage image="images/IMG_9772.jpg" />
            <GalleryImage image="images/DSC_0277-2.jpg" />
          </div>
          <div class="flex flex-col gap-6">
            <GalleryImage image="images/IMG_9158.jpg" />
            <GalleryImage image="images/IMG_9777.jpg" />
            <GalleryImage image="images/DSC_0322.jpg" />
            <GalleryImage image="images/IMG_9161.jpg" />
            <GalleryImage image="images/IMG_9794.jpg" />
            <GalleryImage image="images/Sin título-1.jpg" />
            <GalleryImage image="images/IMG_9164.jpg" />
            <GalleryImage image="images/IMG_9797.jpg" />
            <GalleryImage image="images/Sin título-2.jpg" />
            <GalleryImage image="images/IMG_9165.jpg" />
            <GalleryImage image="images/IMG_9805.jpg" />
            <GalleryImage image="images/IMG_9171.jpg" />
          </div>
      </div>
    </section>

    <Spacer size="h-72" />

    <div class="flex justify-center items-center">
      <h1 class="text-5xl hide-3">Ponte en contacto!</h1>
    </div>

    <Spacer size="h-8" />

    <div class="flex justify-center items-center mt-4">
      <p class="text-lg text-center hide-3">
        Contactame en <a
          href="mailto:morgan@kodelab.fr"
          style="color: hsl(195, 60%, 60%);">juanjoloperaduque@gmail.com</a
        >.
      </p>
    </div>

    <Spacer size="h-8" />

    <div class="flex justify-center items-center mt-4">
      <a href="https://instagram.com/lopera.rar" target="_blank" rel="noopener noreferrer">
        <img src="/icons/instagram.svg" alt="Instagram Icon" class="w-8 h-8 text-white hide-3" />
      </a>
    </div>

    <Spacer size="h-72" />
  </main>
</Layout>
