---
const title = "Inicio";
---
<html>
	<head>
		<title>{title}</title>
	</head>
	<body>
		<h1>Bienvenido a mi Portafolio de Aventura</h1>
		<nav>
			<ul>
				<li><a href="/albums">Álbumes</a></li>
				<li><a href="/adventures">Aventuras</a></li>
			</ul>
		</nav>
	</body>
</html>
