---
import "../styles/tailwind.css";
import Layout from "../layouts/Layout.astro";
import GalleryImage from "../components/GalleryImage.astro";
import "../animations/hide.astro";
import "../animations/popup.astro";
---

<Layout currentPage="home">
  <section class="container mx-auto px-4 py-8">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
      <div id="Column-Left" class="flex flex-col gap-6">
        <GalleryImage image="images/IMG_9724.jpg" loading="eager" />
        <GalleryImage image="images/IMG_9771.jpg" />
        <GalleryImage image="images/IMG_9794.jpg" />
      </div>
      <div id="Column-Center" class="flex flex-col gap-6">
        <GalleryImage image="images/IMG_9725.jpg" loading="eager" />
        <GalleryImage image="images/IMG_9772.jpg" />
        <GalleryImage image="images/IMG_9805.jpg" />
      </div>
      <div id="Column-Right" class="flex flex-col gap-6">
        <GalleryImage image="images/IMG_9726.jpg" loading="eager" />
        <GalleryImage image="images/IMG_9777.jpg" />
        <GalleryImage image="images/IMG_9808.jpg" />
      </div>
    </div>
  </section>
</Layout>
