---
import "../styles/tailwind.css";
import Layout from "../layouts/Layout.astro";
import GalleryImage from "../components/GalleryImage.astro";
import Spacer from "../components/Spacer.astro";
import "../animations/hide.astro";
import "../animations/popup.astro";
---

<Layout currentPage="home">
  <main class="text-white min-h-screen">
    <section class="container mx-auto px-4 py-8">
      <div class="flex justify-center items-center h-screen flex-col">
        <div class="text-center">
          <h1 class="text-5xl hide-5">Soy Juan José Lopera</h1>
        </div>
        <Spacer size="h-8" />
        <div class="text-center">
          <h3 class="text-2xl hide-5">He visto, He vivido, He existido.</h3>
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        <div id="Column-Left" class="flex flex-col gap-6">
          <GalleryImage image="images/IMG_9724.jpg" loading="eager" />
          <GalleryImage image="images/IMG_9771.jpg" />
          <GalleryImage image="images/IMG_9794.jpg" />
        </div>
        <div id="Column-Center" class="flex flex-col gap-6">
          <GalleryImage image="images/IMG_9725.jpg" loading="eager" />
          <GalleryImage image="images/IMG_9772.jpg" />
          <GalleryImage image="images/IMG_9805.jpg" />
        </div>
        <div id="Column-Right" class="flex flex-col gap-6">
          <GalleryImage image="images/IMG_9726.jpg" loading="eager" />
          <GalleryImage image="images/IMG_9777.jpg" />
          <GalleryImage image="images/IMG_9808.jpg" />
        </div>
      </div>
    </section>

    <Spacer size="h-72" />

    <div class="flex justify-center items-center">
      <h1 class="text-5xl hide-3">Ponte en contacto!</h1>
    </div>

    <Spacer size="h-8" />

    <div class="flex justify-center items-center mt-4">
      <p class="text-lg text-center hide-3">
        Contactame en <a
          href="mailto:morgan@kodelab.fr"
          style="color: hsl(195, 60%, 60%);">juanjoloperaduque@gmail.com</a
        >.
      </p>
    </div>

    <Spacer size="h-8" />

    <div class="flex justify-center items-center mt-4">
      <a href="https://instagram.com/lopera.rar" target="_blank" rel="noopener noreferrer">
        <img src="/icons/instagram.svg" alt="Instagram Icon" class="w-8 h-8 text-white hide-3" />
      </a>
    </div>

    <Spacer size="h-72" />
  </main>
</Layout>
